# Ambiente virtual Python
.venv/

# Caches do Python
__pycache__/
*.pyc

# Notebooks - checkpoints
.ipynb_checkpoints/

# Dados (não devem ir pro repositório)
*.csv
*.parquet
*.zip
dados/

# Sistema operacional
.DS_Store
Thumbs.db